body {
    background: #fff
}

@font-face {
    font-family: 'open-sans-from-file';
    font-style: normal;
    font-weight: 300;
    src: url(OpenSans-Light.ttf)
}

* {
    font-family: 'open-sans-from-file', sans-serif;
    color: #666
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
    width: 75%;
    max-width: 1250px;
    margin: auto;
    font-size: 1.2em
}

#site-title, .current-page-link
{
    color: #09c;
}

#site-header {
    top: 0;
    left: 0;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    object-fit: contain;
    box-shadow: 0 2px 2px #e6e6e6
}

#site-title {
    margin: 1% 1% 1% 2%;
    font-size: x-large;
}

#page-links, #page-links a, #site-title, .gallery {
    display: inline-block
}

#page-links {
    float: right;
    min-width: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0
}

#page-links * {
    font-size: medium;
}

#page-links > *
{
    margin-right: 3%
}

#photography-subpages :not(a:first-child), #photography-subpages :not(a:last-child){
    margin-right: 1%;
}

#page-links #photography-subpages a:last-child, #page-links #photography-subpages a:first-child{
    margin-right: 0
}

.spacer {
    height: 8em
}

.spacer2 {
    height: 2em
}

.thumbnail-gallery {
    width: 75%;
    max-width: 1250px;
    margin: auto
}

.gallery {
    width: 32%;
    padding: 24% 0 0;
    margin: .4%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    animation: blink-load .6s ease-out 0 infinite alternate
}

@keyframes blink-load {
    from {
        background-color: rgba(230, 230, 230, 1)
    }

    to {
        background-color: rgba(230, 230, 230, .4)
    }
}

.thumbnail-gallery img:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%)
}

.thumbnail-gallery img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #cccccc;
    color: rgba(242, 242, 242, 0)
}

.thumbnail-gallery .landscape {
    height: 100%
}

.thumbnail-gallery .portrait {
    width: 100%
}

.thumbnail-gallery img[data-src] {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in
}

.featherlight-image {
    max-width: 100%;
    max-height: 100%
}

.featherlight .featherlight-close-icon {
    font-size: x-large;
    color: #fff;
    background: 0;
    left: 101%;
    z-index: -200;
    display: none
}

.featherlight-previous {
    right: 100%;
    left: -60px;
    height: 80%;
    margin: auto
}

.featherlight-next {
    left: 100%;
    right: -60px;
    height: 80%;
    margin: auto
}

.featherlight-next span, .featherlight-previous span {
    font-weight: 100;
    text-shadow: none;
    display: block
}

.featherlight-previous span {
    text-align: left
}

.featherlight-next span {
    text-align: right
}

.featherlight-next span.on-arrow-press, .featherlight-next span:hover,
.featherlight-next:hover span, .featherlight-previous span.on-arrow-press,
.featherlight-previous span:hover, .featherlight-previous:hover span {
    text-shadow: 0 0 8px #fff
}

.featherlight-next:hover, .featherlight-previous:hover {
    background: 0
}

.featherlight .featherlight-content {
    box-sizing: content-box;
    overflow: visible;
    max-width: 80%;
    max-height: 88%;
    background: 0;
    padding: 0;
    border-bottom: 0
}

.loading-animation {
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 75px
}

.loading-animation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #404040;
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite
}

.loading-animation span:nth-of-type(2) {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s
}

.loading-animation span:nth-of-type(3) {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s
}

.loading-animation span:nth-of-type(4) {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s
}

.loading-animation span:nth-of-type(5) {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s
}

@-webkit-keyframes loading {
    0, 100% {
        background-color: #404040
    }

    50% {
        background-color: #fff
    }
}

@-moz-keyframes loading {
    0, 100% {
        background-color: #404040
    }

    50% {
        background-color: #fff
    }
}

.featherlight-content .legend {
    margin: 8px 0 0;
    color: #fff;
    position: absolute
}

.like-button {
    position: absolute;
    bottom: 0;
    left: 101%;
    padding: 5px;
    font-size: 1em;
    transition: background-color, .5s;
    width: 10%;
    min-width: 36px;
    border-color: white;
    border-width: thin;
    border-style: solid;
    color: white;
}

.like-button:hover {
    background-color: #09c;
    color: #fff
}

.like-button:active {
    background-color: #002533
}

.like-button.highlight {
    color: #fff;
    background-color: #09c
}

form {
    width: 75%;
    max-width: 1250px;
    margin: auto;
    font-size: 1em
}

form * {
    width: 55%;
    padding: 5px;
    border-radius: 4px;
    border-width: thin
}

form :focus {
    border-color: #09c;
    box-shadow: 0 0 3px #09c
}

form h3 {
    color: #09c;
    width: 100%;
    margin: 0;
    font-weight: 200;
    font-size: 1.4em;
    padding: 0
}

form input, form textarea {
    border-style: solid;
    font-size: 1em;
    background: 0
}

form label {
    display: block;
    margin-top: 1%
}

form textarea {
    display: block;
    margin-bottom: 20px
}

form textarea.warning {
    border-color: red;
    box-shadow: 0 0 3px red
}

#submit-button, .like-button, .submit-button-no-JS {
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color, .5s
}

#submit-button, .submit-button-no-JS {
    background-color: #09c;
    padding: 15px 5px;
    margin-bottom: 15px;
    border-style: none;
    border-radius: 8px;
    color: #fff;
    transition: background-color, .5s
}

#submit-button:hover, .submit-button-no-JS:hover {
    background-color: #00bfff
}

#submit-button:active, .like-button:active, .submit-button-no-JS:active {
    background-color: #002533
}

form #submit-button {
    display: none
}

footer {
    text-align: center;
}

#theme-button-panel {
    background: #09c;
    width: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 5px
}

#theme-button-panel div {
    cursor: pointer;
    margin: auto;
    width: 100%
}

#theme-button-panel p {
    color: #fff;
    font-size: large;
    text-align: center;
    margin: 5px 0
}

#site-header.darkened, body.darkened {
    background: #1a1a1a
}

#site-header.darkened {
    background: #1a1a1a;
    box-shadow: 0 2px 2px #262626
}

.darkened *{
    color: #f2f2f2
}

#site-header.darkened .current-page-link, #site-header.darkened #site-title{
    color: #09c
}

form.darkened input, form.darkened textarea {
    background: 0;
    color: #fff
}

body.darkened .gallery {
    animation: none;
    background-color: #000000
}

.darkable {
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}



/*Smaller display styling*/
@media screen and (max-width:950px) {
    #site-title {
        font-size: 1.4em;
        margin: 8px 8px 20px;
    }

    p, #page-links, .thumbnail-gallery,
    form {
        width: 99%;
        margin-left: 1%
    }

    #page-links {
        min-width: 0;
        margin-left: 8px;
        width: 90%;
        float: left;
        position: static; 
    }

    #page-links * {
        font-size: .9em;
        margin-bottom: 4px;
        margin-top: 0
    }

    a.gallery {
        margin: 0
    }

    form h3 {
        font-size: 1.2em
    }

    form * {
        width: 90%
    }

    .featherlight-next {
        right: 10px;
        left: 85%
    }

    .featherlight-previous {
        left: 10px;
        right: 85%
    }
}

@media screen and (max-width:530px) {
    #site-title {
        font-size: 1.4em
    }

    p, #page-links *, form {
        font-size: .8em
    }

    #page-links a {
        margin: 0 4px 0 0
    }

    .spacer2 {
        height: 1em
    }

    .legend {
        display: none
    }
}

@media screen and (max-height:460px) {
    .legend {
        display: none
    }
}

@media screen and (orientation:portrait) {
    .like-button {
        right: 0;
        top: 101%;
        bottom: auto;
        left: auto
    }
}